{
  "endOfLine": "lf",
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 200
}
